/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 1, 2016, 1:53:22 AM
    Author     : Bimla Madhavee
*/

@import url(http://fonts.googleapis.com/css?family=Cambay);
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.textChanged {
    color: black;
}

p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}
a {
    color: #1C86EE;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #6495ED;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cambay", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;

}

.bg-light-gray {

    background-color: #DCDCDC;
}


.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #1abc9c;
    border-color: #16a085;
}

.btn-xl {
    color: #ffffff;
    background-color: #1C86EE;
    border-color: #1C86EE;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #ffffff;
    background-color: #63B8FF;
    border-color: #16a085;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #1E824C;
    border-color: #1E824C;
}
.btn-xl .badge {
    color: #1E824C;
    background-color: #ffffff;
}
.navbar-default {
    background-color: #222222;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #1E824C;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #1abc9c;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
    background-color: #1E824C;
    border-color: #1E824C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1E824C;
}
.navbar-default .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #1C86EE;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: 	#5CACEE;
    outline: none;
}
.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: red;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #63B8FF;
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #222222;
        padding: 10px 0;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
header {
    background-image: url('../img/coverImage.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
.intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
.intro-text {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}
.intro-text {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0%;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;

    font-weight: 400;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}
.serviceTitle{
    margin: 15px 0;
    text-transform: none;
    color: black;
}





.team-member {
    text-align: center;
    margin-bottom: 50px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid blue;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}


footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #1C86EE;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}


img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: #1E824C;
}
#Extract-textarea
{
    border-color: #1c86ee;
    resize: none;
    max-height: 100%;

}
